body {
     font-family: 'Alegreya', serif;
     font-family: 'EB Garamond', serif;
     font-family: 'Libre Baskerville', serif;
     font-family: 'Mooli', sans-serif;
     font-family: 'Nanum Myeongjo', serif;
    background-color: rebeccapurple;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    max-width: 600px;
    width: 100%;
}

h1 {
    color: #333;
}

.password-box {
    margin-top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 18px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.options {
    margin-top: 20px;
    text-align: left;
}

label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

input[type="number"], input[type="checkbox"] {
    margin-bottom: 10px;
}

